:root {
  --shadow-color: 210deg 11% 60%;
  --shadow-elevation-low: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.34), 0px 0.5px 0.6px -1.2px hsl(var(--shadow-color) / 0.34), 0px 1.3px 1.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.36), 0px 1.1px 1.2px -0.8px hsl(var(--shadow-color) / 0.36), 0px 2.7px 3px -1.7px hsl(var(--shadow-color) / 0.36), 0px 6.6px 7.4px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.34), 0px 1.9px 2.1px -0.4px hsl(var(--shadow-color) / 0.34), 0px 3.6px 4.1px -0.7px hsl(var(--shadow-color) / 0.34), 0px 5.9px 6.6px -1.1px hsl(var(--shadow-color) / 0.34), -0.1px 9.4px 10.6px -1.4px hsl(var(--shadow-color) / 0.34), -0.1px 14.6px 16.4px -1.8px hsl(var(--shadow-color) / 0.34), -0.1px 22.2px 25px -2.1px hsl(var(--shadow-color) / 0.34), -0.2px 32.8px 36.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
  padding: 2rem;
  font-family: Inter, sans-serif;
  background-color: #f0f4f8;
}

h1 {
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 30px;
  color: #002159;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.grid__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: white;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 8px;
}

.grid__button {
  width: 100%;
  padding: 0.5rem 0;
  background-color: hsla(213, 75%, 54%, 1);
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.grid__button:hover {
  background-color: #0552b5;
}

.grid__button:active {
  background-color: #03449e;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 1rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #002159;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 6px;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #002159 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

table {
  padding: 1rem;
  border-radius: 10px;
  align-items: end;
  display: flex;
}

td {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  object-position: left;
}

.divider {
  display: block;
  max-width: 1px;
  height: 50px;
}

.divider__horizontal {
  display: block;
  max-height: 1px;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.name {
  font-weight: 600;
  margin: 0px;
  font-size: 16px;
}

.title {
  font-size: 13px;
}

.email {
  text-decoration: none;
  color: #2caae1;
  font-size: 11px;
}

.arsomcube {
  font-family: Poppins, sans-serif;
}

.arsomcube__name {
  color: #2caae1;
}

.arsomcube__email {
  color: #2caae1;
}

.kingscoins tr {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  align-items: center;
  gap: 1rem;
}

.kingscoins__name {
  margin-top: 10px;
  color: #f8404c;
}

.kingscoins__email {
  margin-top: 2px;
  color: #f8404c;
}

.connectcrypto {
  font-family: Tahoma, sans-serif;
}

.connectcrypto__name {
  margin-top: 10px;
}

.connectcrypto__email {
  color: #ec2127;
}

.farmchain {
  font-family: Montserrat, sans-serif;
}

.farmchain__logo {
  max-height: 50px;
}

.farmchain tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.farmchain__title {
  color: #aaa;
}

.farmchain__email {
  color: #414042;
}

.earthenergies {
  font-family: Verdana, sans-serif;
}

.earthenergies__logo {
  max-height: 50px;
}

.earthenergies__divider {
  background-color: #084d562a;
}

.earthenergies tr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.earthenergies__name {
  color: #084d56;
}

.earthenergies__title {
  color: #084d56;
}

.earthenergies__email {
  color: #30ac71;
}

.aliensteel {
  font-family: "Trebuchet MS", sans-serif;
}

.aliensteel__logo {
  max-height: 50px;
}

.aliensteel__divider {
  background-color: #974dc22a;
}

.aliensteel tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.aliensteel__name {
  color: #000;
}

.aliensteel__title {
  color: #000;
}

.aliensteel__email {
  color: #974dc2;
}

.sunpeakstrade {
  font-family: "Roboto Slab", sans-serif;
}

.sunpeakstrade__logo {
  max-height: 50px;
}

.sunpeakstrade__divider {
  background-color: #0656293a;
}

.sunpeakstrade tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.sunpeakstrade__name {
  color: #065629;
}

.sunpeakstrade__title {
  color: #000;
}

.sunpeakstrade__email {
  color: #96C122;
}