html {
  font-family: Poppins, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

table {
  padding: 1rem;
  border-radius: 10px;
  align-items: end;
  display: flex;
}

table:nth-of-type(odd) {
  background-color: rgb(230, 230, 230);
}

table:nth-of-type(even) {
  background-color: rgb(240, 240, 240);
}

h1 {
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 60px;
}

td {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  object-position: left;
}

.name {
  font-weight: 600;
  margin: 0px;
  font-size: 16px;
}

.title {
  font-size: 13px;
}

.email {
  text-decoration: none;
  color: #2caae1;
  font-size: 11px;
}

.arsomcube {
  font-family: Poppins, sans-serif;
}

.arsomcube__name {
  color: #2caae1;
}

.arsomcube__email {
 color: #2caae1;
}

.kingscoins tr {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  align-items: center;
  gap: 1rem;
}

.kingscoins__name {
  margin-top: 10px;
  color: #F8404C;
}

.kingscoins__email {
  margin-top: 2px;
  color: #F8404C;
}

.connectcrypto {
  font-family: 'Lucida Sans', sans-serif;
}

.connectcrypto__name {
  margin-top: 10px;
}

.connectcrypto__email {
  color: #EC2127;
}
